/* https://github.com/sindresorhus/modern-normalize/tree/c997a1e1d37aadbf9b6bc46ed396e7d9ebc8632f */
@import "node_modules/modern-normalize/modern-normalize.css";

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  min-width: 24em;
  background-image: url("./assets/sunnyDay.png");
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-color: whitesmoke;
  height: 100vh;
}

.sunnyDay{
  background-image: url("./assets/sunnyDay.png");
  background-color: whitesmoke;
}

.cloudyDay{
  background-image: url("./assets/cloudyDay.png");
  background-color: rgb(116, 127, 143);
}

.rainyDay{
  background-image: url("./assets/rainyDay.png");
  background-color: rgb(81, 142, 177);
}

.snowyDay{
  background-image: url("./assets/snowyDay.png");
  background-color: rgb(93, 129, 150);
}

.clearNight{
  background-image: url("./assets/sunnyDay.png");
  background-color: rgb(22, 34, 83);
}

.cloudyNight{
  background-image: url("./assets/cloudyNight.png");
  background-color: rgb(54, 58, 77);
}

.rainyNight{
  background-image: url("./assets/rainyNight.png");
  background-color: rgb(81, 98, 107);
}

.snowyNight{
  background-image: url("./assets/snowyNight.png");
  background-color: rgb(51, 72, 85);
}

.c {
  display: flex;
  /* border: 1px solid red; */
  min-height: 10em;
  max-width: 340px;
  border-radius: 10px;
}

@media only screen and (max-width: 768px) {
  main {
    /* padding: 2em; */
  }

  .c {
    min-width: 90vw;
    max-width: 30em;
  }
}

@media only screen and (min-width: 768px) {
  .c {
    width: 40em;
  }
}
#forecast {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Forecastentry {
  display: block;
  /* padding: ; */
  width: 16%;
  /* height: 6em; */
  border: 1px solid #ffffff55;
  border-radius: 5px;
  text-align: center;
  background-color: #ffffff55;
}

.Forecastentry>span {
  display: block;
  padding: 0.3em 0;
}
#main, #text {
  padding: 1em;
}

.detail {
  display: block;
  background-color: #ffffff55;
  width: 100%;
  box-sizing: border-box;
  padding: 1em;
  border-radius: 10px;
}